#snake_game_field {
	position: relative;
	background-color: #ddb987;
	margin: auto;
	border: solid 10px #ae927d;
}

#snake_menu {
	width: 800px;
	margin: auto;
	margin-bottom: 10px;
}

.snake_grower_food {
	/*width: 20px;
	height: 20px;*/
	position: absolute;
	background-color: #bd0102;
}

.snake_bonus_food {
	/*width: 20px;
	height: 20px;*/
	position: absolute;
	background-color: pink;
}

.snake_obstacle {
	position: absolute;
	background-color: #8f532f;
}

div.snake_limb {
	position: absolute;
	/*width: 20px;
	height: 20px;*/
	background-color: #42a60e;
	/*top: 0px;*/
	/*right: 0px;*/
}

div#snake_head {
	position: absolute;
	/*width: 20px;
	height: 20px;*/
	background-color: #eef162;
	visibility: hidden;	
}